
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared items font */

.font-22{
    font-size: 22px;
}
.font-22M{
    font-size: 22px;
    font-weight: 500;
}
.font-22B{
    font-size: 22px;
    font-weight: 700;
}
.font-65B{
    font-size: 65px;
    font-weight: 700;
}
.font-50B{
    font-size: 50px;
    font-weight: 700;
}
.font-40B{
    font-size: 40px;
    font-weight: 700;
}
.font-28SB{
    font-size: 28px;
    font-weight: 600;
}
.font-16SB{
    font-size: 16px;
    font-weight: 600;
}
.font-20B{
    font-size: 20px;
    font-weight: 700;
}
.font-24B{
    font-size: 24px;
    font-weight: 700;
}
.font-14{
    font-size: 14px;
}
/* shared items color */

.text-orange{
    color: #E95A08;
}
.text-black2{
    color: #252432;
}
.text-black1{
    color: #000000;
}
.text-black3{
    color: #111111;
}
.text-gray{
    color: #8987A1;
}
.text-white{
    color: white;
}
.bg-orange{
    background-color: #E95A08;
}
/* shared items othees */
.flex{
    display: flex;
}
.mw-ma{
    max-width: 1140px;
    margin: 0 auto;
}
.mt-120{
    margin-top: 120px;
}

/* nav bar section */
.nav{
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.nav-list{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.nav-content-rigth {
    gap: 48px;
}

/* banner section */
.banner-container{
    align-items: end;
    margin-top: 120px;
}

/* our plants section */

.card-container button{
    border: none;
    padding: 19px 80px;
    margin-top: 30px;
}
.card-container img{
    margin-bottom: 30px;
}
.card-h1{
    margin-bottom: 10px;
}
.card-container{
    text-align: center;
}
.plants-title{
    text-align: center;
}
.plants-title h2{
    margin-bottom: 16px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 50px;
}

/* Mobile device resposived */

@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
    .nav{
        margin: 0 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 0px;
    }
    .banner-h{
        font-size: 24px;
        width: 191px;

    }
    .banner-p{
        font-size: 14px;
    }
    .banner-content-left{
        margin: 10px;
    }
    .banner-content-right img{
        width: 100%;
    }

    /* plants section responsive */
    .plants-title{
        margin: 0 10px;
    }
    .plants-title h2{
        font-size: 24px;
    }
    .plants-title p{
        font-size: 14px;
    }
    .plants-title p br{
        display: none;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
        padding: 0 10px;
        gap: 20px;
    }
    .card-container{
        width: 100%;
    }
    .card-container img{
        width: 100%;
    }
    .card-container button{
        padding:10px 0;
        width: 100%;
    }

    
}